:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;

  --colorPrimary: #fff;
}

.dark{
    --mainBlack: #222;
    --colorPrimary: #222;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--colorPrimary);
    transition: all .15s ease;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--mainWhite);
    mix-blend-mode: difference;
}

.margin{
  margin: 0;
}

.container-fluid{
    width: 100%;
    max-width: 180rem;
    overflow: hidden;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    align-items: center;
    margin-bottom: 4rem;
}

.line{
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 0;
  mix-blend-mode: difference;
  z-index: 2;
}

.nav-list{
    display: flex;  
    margin: 0;
    padding: 0;
}

.nav-link{
    margin: 0 3rem;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    mix-blend-mode: difference;
    display: none;
}

.nav-link:hover{
  color: white;
}

.logo{ 
    font-size: clamp(3rem, 6vw, 4rem);
    text-transform: uppercase;
    color: white;
    margin-right: 2rem;
    font-weight: 500;
    mix-blend-mode: difference;
    z-index: 1;
}

.logo:hover{
  color: white;
}

.left{
    display: flex;
    flex: 0 0 29%;
    align-items: center;
    width: 100%;
    
}

.center{
    display: flex;
    flex:  0 20%;
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

i{
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    padding-right: 0;
    margin: 0 0 0 3rem;   
}

.language{
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    mix-blend-mode: difference;
}

.cart-btn{
    position: relative;
    cursor: pointer;
}

.cart-prop{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  mix-blend-mode: difference;
}

.cart-size{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.cart-items{
    color: white;
    font-size: 3rem;
    mix-blend-mode: difference;
    font-weight: 400;
}

.hero{
    margin-bottom: 8rem;
    overflow: hidden;
}

.hero-flex{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;

}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-right{
  z-index: 2;
  width: auto;
}

.hero-title{
    text-transform: uppercase;
    font-size: clamp(3rem, 6vw, 6rem);
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 100%;
    color: white;
    mix-blend-mode: difference;
}

.fecha{
    text-transform: uppercase;
    font-size: clamp(3rem, 6vw, 6rem);
    font-weight: 400;
    margin-bottom: 4.5rem;
    color: white;
    mix-blend-mode: difference;
}

.content img{
    width: clamp(300px, 50vw, 880px);
    z-index: 1000;
}

.products{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.products h3{
    font-size: clamp(2rem, 8vw, 10rem);
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    mix-blend-mode: difference;
}

.card{
    margin: 2rem 0;
    border: 1px solid;
    overflow: hidden;
    margin-bottom: 10rem;
}

.fa-shopping-cart{
    color: white;
    margin-right: 0.5rem;
    margin-left: 0;
    padding-left: 0;
    mix-blend-mode: difference;
}

.img-container{
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid;
}

.img-container:hover .bag-btn{
    transform: translateX(0);
}

.bag-btn{
    position: absolute;
    top: 5%;
    right: 0;
    background: black;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    transition: 0.3s all linear;
    transform: translateX(101%);
    cursor: pointer;
    color: white;
    font-size: 2rem;
}

.bag-btn:hover{
    color: gray;
}

.card-body{
    background-color: var(--mainWhite);
}

.card-img-top{
    height: 600px;
    object-fit: cover;
    z-index: 1;
}

.card-img-top:hover{
    opacity: 50%;
    transition: all 0.3s;
}

.card-title{
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-transform: uppercase;
    color: var(--mainWhite);
    border-bottom: 1px solid gray;
    mix-blend-mode: difference;
}

.card-text{
    font-size: clamp(1.5rem, 5vw, 4rem);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--mainWhite);
    mix-blend-mode: difference;
}

.price-buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-window-close{
    padding: 0;
    margin: 0;
    color: black;
}

/* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    visibility: hidden;
    display: flex;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background:#ececec;
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

.background{
    background-color: black;
    width: 100%;
    opacity: 0%;
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
      width: 30vw;
      min-width: 450px;
  }

  .mobile-nav{
      width: 30vw;
      min-width: 450px;
      height: 100vh;
  }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    padding: 0 2rem 2rem 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 120px;
    height: 120px;
}

.cart-item h4 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
    font-size: 2rem;
}

.item-amount {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    padding-right: 0.6rem;
    margin: 0;
}

.remove-item {
    color: grey;
    cursor: pointer;
    font-size: 2rem;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--mainBlack);
    cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 6rem;
    letter-spacing: var(--mainSpacing);
    text-align: left;
}

.cart-footer h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 2rem;
    background-color: var(--mainBlack);
    color: var(--mainWhite);
    border: 1px solid;
    transition: var(--mainTransition);
    cursor: pointer;
    margin-top: 2rem;
    background-color: #161616;
}

.banner-btn:hover {
    background: transparent;
    color: var(--mainBlack); 
}
/* --------------- End of Cart ---------------- */

/*About section*/
.about-title{
  font-size: clamp(2rem, 8vw, 10rem);
  line-height: 100%;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  mix-blend-mode: difference;
  
}

.about-img{
  filter: grayscale(100%);
  margin-right: 2rem;
  width: clamp(300px, 50vw, 600px);
}

.about-info{
  font-size: clamp(2rem, 4vw, 5rem);
  text-transform: uppercase;
  mix-blend-mode: difference;
  color: white;
}

.about-flex{
  display: flex;
  width: 100%;
  margin: 3rem 0 10rem 0;
  justify-content: space-between;
}

.about-right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
/*End about section*/

/*Contact section*/
.form{
    width: 46vw;
    display: flex;
    flex-direction: column;
}
.contact-title{
  font-size: clamp(2rem, 8vw, 10rem);
  line-height: 100%;
  text-transform: uppercase;
  color: var(--mainWhite);
  font-weight: 300;
  mix-blend-mode: difference;
  display: flex;
  width: 100%;
  justify-content: right;
}

.contactanos{
  font-size: clamp(2rem, 8vw, 6rem);
  text-transform: uppercase;
  color: var(--mainWhite);
  mix-blend-mode: difference;
}

.get_in_touch{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.contact-form .form-field{
  position: relative;
  margin: 32px 0;
}



.contact-form .input-text{
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: var(--mainBlack);
  font-size: 1.8rem;
  line-height: 26px;
  font-weight: 400;
  
}

.input-text{
    border-color: var(--mainBlack);
}

.contact-form .input-text+ .label,
.contact-form .input-text.not-empty + .label,
.contact-form .input-text:valid ~ label{
  transform: translateY(-24px);
}
.contact-form .input-text:focus{
  outline: none;
}

.contact-form .label{
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 1.8rem;
  line-height: 26px;
  font-weight: 400;
  color: var(--mainWhite);
  cursor: text;
  text-transform: uppercase;
  transition: transform 0.2s ease-in-out;
  mix-blend-mode: difference;
}

.contact-form .submit-btn{
  display: inline-block;
  background-color: var(--mainWhite);
  color: var(--mainBlack);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6rem;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
  mix-blend-mode: difference;
}

/*Dark mode*/
.fas{
    margin: 0;
    padding: 0;
    margin-top: 5px ;
    font-size: clamp(2rem, 6vw, 2.5rem);
}

#nav-mode_switch{
    background: transparent;
    outline: none;
    color: var(--mainWhite);
    mix-blend-mode: difference;
    border: none;
    cursor: pointer;
    display: flex;
}

body.dark #nav-mode_switch .fa-sun{
    display: none;
    
}

body.dark #nav-mode_switch .fa-moon{
    display: block;
}

#nav-mode_switch .fa-moon{
    display: none;
}
/*END DARK MODE*/

/*HAMURGER MENU*/
.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 1000;
}

.hamburger .bar, 
.hamburger::after, 
.hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #161616;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: -100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 98;
    background-color: #ececec;
    transition: 0.4s;
    width: 100%;
}

.mobile-nav.is-active{
    left: 0;
}

.mobile-link{
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;  
    padding: 12px 16px;
    font-size: 3.6rem;
    text-transform: uppercase;
    text-align: center;
}

/*FIN HAMBURGER MENU*/
  
@media only screen and (min-width: 1280px) {
    .nav-link{
        display: block;
    }

    .hamburger{
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
  .hero-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }

  .about-flex{
    flex-direction: column;
    width: 100%;
  }

  .about-left{
      display: flex;
      justify-content: end;
      width: 100%;
  }

  .about-info{
      width: 100%;
  }

  .get_in_touch{
    flex-direction: column;
    height: 70vh;
  }

  .form{
      width: 96vw;
  }
}